<div class="container">
    <div class="columns is-mobile">
        <div class="column">
            <article class="message is-danger">
                <div class="message-header">
                  <p>UNAUTHORIZED 401</p>
                </div>
                <div class="message-body">
                  Es necesario autenticar para obtener la respuesta solicitada. Esta es similar a 403, pero en este caso, la autenticación es posible.
                </div>
              </article>
        </div>
    </div>
</div>
