<div class="container">
  <div class="columns is-mobile">
      <div class="column">
          <article class="message is-link">
              <div class="message-header">
                <p>NOT FOUND 404</p>
              </div>
              <div class="message-body">
                El servidor no pudo encontrar el contenido solicitado. Este código de respuesta es uno de los más famosos dada su alta ocurrencia en la web.
              </div>
            </article>
      </div>
  </div>
</div>
